body {
    height: 650px;
}

.inner {
    max-width: 1380px;
    margin: 0 auto;
    width: 800px;
}

.nav {
    height: 15%;
    text-align: center;
    display: flex;
    align-items: center;
    /* background-color: antiquewhite; */
}

.main {
    height: 70%;
    /* background-color: azure; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

div {
    /* background-color: blanchedalmond; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ft {
    height: 15%;
    text-align: center;
    display: flex;
    align-items: center;
    /* background-color: beige; */
}

.nav > p {
    margin: 0 auto;
}

.ft > p {
    margin: 0 auto;
}

.main > div {
    height: 80%;
    width: 250px;
    margin: auto;
}

.main > div > h3 {
    height: 10%;
}

.main > div > p {
    height: 90%;
}

.main > div > hr {
    border: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(129, 129, 129);
}